@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600;700&family=Open+Sans:wght@300;400;500&display=swap');
body{
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}
ul{
  list-style: none;
  margin: 0;
  padding: 0;
}


                                    /* TOP-NAV */

.topnav{
  display: flex;
  background:#EFF1ED;
  margin: 0;
  border: 0;
}

.topnav_list{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  padding: 9px 10%;
  font-family: ap;
}
.select{
  border: none;
  outline: none;
  background: transparent;
  color: #444D4A;
  font-size: 14px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;

}
.build{
  display: flex;
  border: 0;
  outline: 0;
  color: #444D4A;;
}
.build .selec_block:nth-child(1){
  margin-right: 0;
}
.build .selec_block{
  margin: 0 22px;
}


.social{
  display: flex;
  align-items: center;
  font-weight: 300;
  margin-right: 40px;
}
.social a{
  text-decoration: none;
  color:#444D4A;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 14px;
  margin-left: 10px;

}
.build i{
  font-size: 12px;
}
.social i{
  margin: 0 10px;
  color: #444D49;
}

                                  /* TOP-NAV END*/

                                  /* NAVBAR-START */

.nav{
  width: 80%;
  padding: 16px 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;
}
.fixtopnav{
  transition: 1s;
  opacity: 0;
}
.fixedNav{
  position: fixed;
  top: 0;
  z-index: 5;
}
.list{
  display: flex;
}
.list li{
  margin: 0 15px;
  text-transform: uppercase;
}
.list li a{
  font-family: 'Montserrat', sans-serif;
  outline: none;
  text-decoration: none;
  color: #044d2c;
  font-size: 0.875rem;
  font-weight: 700;
  transition: .3s;
}
.list li a:hover{
  color:#D5A022;
}
.active{
  color:#D5A022 !important ;
}

.nav .nav_btn{
  width: auto;
  height: 3rem;
  min-width: 3rem;
  background: #D5A022;
  border: 1px solid #D5A022;
  color: white;
  outline: none;
  font-size: 15px;
  font-weight: 500;
  padding-left: 1.6rem;
  padding-right: 1.6rem;
  margin-right: 43px;
  transition: 0.3s;
}
.nav .nav_btn:hover{
  background-color: white;
  color: #D5A022;
  cursor: pointer;
}
                                  /* NAVBAR-END */

                                  /* SWIPER */
.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  position: relative;
}
.swiper-slide::before{
  position: absolute;
  content: 'Приобретение жилья сегодня с рассрочкой на 10 лет 0%';
  width: 50%;
  font-size: 3rem;
  font-weight: 400;
  font-family: Montserrat,sans-serif;
  text-align: left;
  left: 10%;
  top: 35%;
  right: 0;
  color: white;
  z-index: 9;
}
.swiper-slide::after{
  content: 'Уникальное предложение на рынке недвижимости Рассрочка на 10 лет без %';
  position: absolute;
  font-size: 1.25rem;
  left: 10%;
  top: 65%;
  bottom: 0;
  color: white;
}
.swiper-slide img {
  display: block;
  width: 100%;
  height: 90vh;
  object-fit: cover;

}
                                  /* SWIPER END */

                                  /* BURGER-MENU */
.burger_menu{
  position: absolute;
  right: 1rem;
  width: 50px;
  height: 50px;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  display: none;
  transition: 0.5s;
}
.burger_menu img{
  width: 100%;
}

.adaptive-header{
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-width: 300px;
  height: 100%;
  right: -110%;
  top: 0;
  background-color: #ffffff;
  z-index: 9999;
  padding:20px 20px;
  transition: 0.5s;
}
.adaptive-header .adaptive_nav_btn{
  min-width: 2.5rem;
  height: 2.5rem;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 500;
  padding-left: 1rem;
  padding-right: 1rem;
  color: white;
  background: #d5a022;
  border: 1px solid #d5a022;
  outline: none;
  cursor: pointer;
  transition: 0.3s;
}
.adaptive-header .adaptive-buttons{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.adaptive-header .close{
  right: 1rem;
  width: 50px;
  height: 50px;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
  transition: 0.5s;
}
.adaptive-header .close img{
  width: 100%;
  object-fit: cover;
}
.adaptive-header .adaptive_nav_btn:hover{
  background-color: white;
  color: #d5a022;
}
.adaptive-header ul li {
  margin: 30px 0;
}
.adaptive-header ul li a{
  font-family: 'Montserrat', sans-serif;
  font-size: 0.875rem;
  text-decoration: none;
  text-transform: uppercase;
  color: #044d2c;
  font-weight: 700;
}
.adaptive-header ul li a:hover{
  color:#D5A022;
}
.adaptive_select_blocks .address{
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}
.adaptive_select_blocks .address ul{
  color: #444d4a;
}
.adaptive_select_blocks .address ul li{
  margin: 15px 0px;
  font-size: 0.80rem;
  font-weight: 600;
}
.adaptive_select_blocks .address ul li span{
  margin-left: 5px;
}
.adaptive_select_blocks .address .fa-facebook{
  margin: 0 15px;
}
                                  /* BURGER-MENU-END */

                                  /* ON-CLICK MENU */
.adaptive-header.add{
  right: 0;
}
                                  /* ON-CLICK MENU-START */


/* MAIN */

.radio_container{
  display: flex;
  width:80%;
  padding: 5% 10%;
}

.radio_block{
  width: 550px;
  height: 520px;
  box-shadow: inset 0 0 0 2px #006754 ;
  padding: 2.5rem 2rem;
}
.radio_btn{
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.radio_btn button{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 250px;
  border: 2px solid #D5A022;
  background-color: #d5a022;
  font-size: 17px;
  font-weight: 600;
  color:white;
  margin-right: 10px;
  padding: 0.75rem;
  cursor: pointer;
}
.radio_btn button:nth-child(2){
  border: 2px solid #D5A022; 
  margin-right: 0;
  background-color: white;
  color: #D5A022;
}
.radio_btn button span{
  margin-left: 10px;
}

.cost_flat{
  width: 100%;
}

.text{
  font-family: 'Montserrat', sans-serif;
  font-size: 17px;
  font-weight: 500;
  color: #444D4A;
  margin:15px 0;
}

.range_flat{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 30px;
  border: 2px solid #D5A022;
  padding: 5% 2%;
}
.range_flat span{
  font-weight: 600;
  color: #006754;
  margin-bottom: 10px;
}
.range{
  -webkit-appearance: none;
  width: 100%;
  height: 4px;
  background: #E2E8F0;
  outline: none;
  opacity: 0.8;
  -webkit-transition: .2s;
  transition: opacity .2s;
  margin: 12px 0px 5px 0px;
  border-radius: 2px;
  width: 100%;
  cursor: pointer;
}
.range::-webkit-slider-thumb {
  appearance: none;
  width: 18px;
  height: 18px;
  border-radius: 100%;
  background: #ffffff;
  box-shadow: inset 0 0 0 4.5px #044d2c;
  cursor: pointer;
}

.valute{
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 20px;
}
.valute_block{
  margin: 0 10px;
  display: flex;
  align-items: center;
}
.valute_block input[type='radio']{
  position: relative;
  height: 15px;
  width: 15px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  cursor: pointer;
}
.valute_block input[type='radio']::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  border: 2px solid #D5A022;
}

.valute_block input[type='radio']:checked::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background-color: #006754;
  transform: translate(-50%, -50%);
  visibility: visible;
}

.contribution_blocks{
  display: flex;
  justify-content: space-between;
}

.contribution_blocks .block{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120px;
  height: 52px;
  background-color: #D5A022;
  color: white;
  font-weight: 600;
  border: none;
  cursor: pointer;
}
.block p{
  font-size: 16px;
}
.block:nth-child(2){
  background-color: white;
  border: 2px solid #D5A022;
  color: #044d2c;
}
.block:nth-child(3){
  background-color: white;
  border: 2px solid #D5A022;
  color: #044d2c;
}
.block:last-child{
  background-color: #EFF1ED;
  color: #D5A022;
}

.accordion_container{
  margin-top: 20px;
}
.accordion_blocks{
  width: 100%;
}
.accardion_select{
  width: 100%;
  height: 50px;
  padding: 0 10px;
  font-size: 1rem;
  font-family: 'Montserrat', sans-serif;
  border: 2px solid #D5A022;
  color: #444D4A;
  outline: none;
}
.accardion_btn{
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  width: 100%;
  height: 50px;
  background-color: #044d2c;
  color: white;
  border: none;
  margin-top: 30px;
  transition: .3s ease-in-out all;
  cursor: pointer;
}
.accardion_btn:hover{
  border: 2px solid #044d2c;
  background-color: white;
  color: #044d2c;
}


/* INFO_BLOCK */

.info_block{
  width: 500px;
  height: 260px;
  background-color:#F7F8F6;
  border-bottom: 4px solid #D5A022;
  border-top: 4px solid #D5A022;
  margin-left: 30px;
  margin-bottom: 20px;
  padding: 0px 20px;
  padding-bottom: 20px;
}
.info_text{
  font-size: 1.125rem;
  font-weight: 600;
  color: #044d2c;
}
.info_block .money{
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #48bb78;
}
.info_block .money p{
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  color: #444D49;
}
.info_block .money .fa-arrow-down{
  color: #f56565;
}
.info_block .money .fa-arrow-up{
  color: #48bb78;
}
.price{
  margin-right: 20px;
  font-weight: 600;
  color: #48bb78;
}

.wrong_valute{
  display: flex;
  align-items: center;
  color: #dd4d4d;
  margin-bottom: 10px;
}

.info_block .money2{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.info_block .money2 p{
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
  margin: 12px 0;
  color: #444D49;
}


/* INFO_BLOCK_END */

/* MAIN-END */


                                  /* ADADPTIVE */
@media (max-width:1267px) {
  .topnav{
    display: none;
  }
  .fixedNav{
    display: none;
  }

  .nav{
    justify-content: space-between;
    padding: 8px 2%;
  }
  .nav .list{
    display: none;
  }
  .nav .nav_btn{
    display: none;
  }
  .burger_menu{
    display: block;
  }
}

@media (max-width:1024px){
  .swiper-slide::before{
    font-size: 3rem;
    width: 70%;
    top: 25%;
  }
  .swiper-slide::after{
    width: 35%;
  }
} 
@media (max-width:768px){
  .swiper-slide::before{
    font-size: 2.5rem;
    width: 70%;
    top: 25%;
    left: 15%;
  }
  .swiper-slide::after{
    width: 50%;
    left: 15%;
  }
  .address .address_social{
    margin-bottom: 20px;
  }
}
@media (max-width:425px){
  .swiper-slide::before{
    font-size: 2rem;
    width: 90%;
    top: 10%;
    left: 5%;
  }
  .swiper-slide::after{
    width: 70%;
    top: 40%;
    left: 15%;
  }
}
@media (max-width:375px){
  .swiper-slide::before{
    font-size: 2rem;
    width: 90%;
    top: 10%;
    left: 10%;
  }
  .swiper-slide::after{
    width: 70%;
    top: 60%;
    left: 15%;
  }
}
                                  /* ADADPTIVE-END */
